body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#myVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#fallbackImage {
  display: none; /* Initially hide the fallback image */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#myVideo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed  
 */
  display: flex;
  justify-content: center;
  align-items: center;
}

#myVideo::before::after {
  content: "\e25b6"; /* Play button icon (adjust as needed) */
  font-family: FontAwesome;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

#tfQzYNIWktKdYiNd:hover {
  color: #d3d3d3 !important; /* Light grey color */
}

#DzrYVaEeZjiybtAU:hover {
  color: #d3d3d3 !important; /* Light grey color */
}

#NaZ9oyAnOk0Adn9Z:hover {
  color: #d3d3d3 !important; /* Light grey color */
}

#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  display: none; /* Initially hidden */
}

.nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; /* Adjust background color as needed */
  z-index: 999; /* Ensure it's above other elements */
  padding: 10px; /* Add padding for spacing */
}

.logo-container {
  display: flex;
  align-items: center;
  float: left;
}

.logo {
  height: 100px; /* Adjust as needed */
}

.menu-items {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  float: right;
  padding: 30px;
}

.menu-item {
  color: black;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px; /* Increase font size for mobile */
  font-family: Arial, sans-serif;
}

.menu-item:hover {
  background-color: #f0f0f0;
}

.burger-menu {
  display: none;
  font-size: 35px;
  color: black;
  cursor: pointer;
}

.intro-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust height as needed */
}

.intro-video, .intro-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.intro-image {
  display: none; /* Hide image by default */
}

.fallback-image {
  display: none;
}

.intro-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  font-family: Arial, sans-serif;
  background: rgba(1,1,1,0.2);
  padding: 20px;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-container img {
  display: none;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .nav-menu {
      flex-direction: column;
      align-items: center;
  }

  #T3ZxVldMBvjCkMvC {
    display: none;
  }

  #yDzhjCqt7dRfI4gd {
    display: none;
  }


  .menu-items {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: center;
  }

  .menu-item {
      width: 100%;
      padding: 10px 20px;
  }

  .burger-menu {
      display: block;
      position: absolute;
      top: 25px;
      right: 50px;
  }

  .menu-items.show {
      display: flex;
  }

  .logo-container {
      order: -1; /* Move logo to the top */
      margin-bottom: 10px;
  }

  .logo {
      height: 80px; /* Adjust as needed */
  }

  .intro-video {
      display: none; /* Hide video on mobile */
  }

  .intro-image {
      display: block; /* Show image on mobile */
  }

   .intro-text {
      font-size: 16px; /* Adjust font size for mobile */
  }

  .video-container > video {
    display: none;
  }

 .fallback-image {
    display: block;
  }

  .videoSeek {
    display: none;
  }

  .soundButton {
    display: none;
  }

  .playPauseButton {
    display: none;
  }

}


#HG6AcJVRYEVLutX8:hover, #LjY6tOEqGJvTIN0Z:hover {
  color : #989898 !important;
}

#pQfK5x5O3qCiuP4x:hover, #bYNL72vPPMSiyY6L:hover {
  color : #989898 !important;
}

#IKuFLuLKqvO6zCe2:hover, #Fb2mSYFLTzFm7837:hover {
  color : #989898 !important;
}

#ajxE3YPbadEYDfoa:hover, #Q9bpb2MSpsMCoS0G:hover {
  color : #989898 !important;
}

#itmDZ1DtPAV8I0op:hover, #QoMdEatjpgNPgQfw:hover {
  color : #989898 !important;
}

#NYFVvifZo4rs1Sgh:hover, #Nu03kOeQUFwQ4m0E:hover {
  color : #989898 !important;
}

#tsHBZHRFMvnbSGNJ:hover {
  color: #1877F2 !important;
}

.two-column-section {
  display: flex;
  justify-content: space-between; /* Adjust spacing as needed */
}

.facebook-feed-container {
  display: flex;
  justify-content: space-between;
  width: 40%; /* Sets the container to full width */
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.image-container {
  width: 40%; /* Sets the container to full width */
  margin-top: 30px;
  margin-left: 15%;
  margin-right: 5%;
  display: block;
}

.image-container img {
  width: 100%; /* Make image responsive */
  height: auto;
}

.feed-column {
  width: 30%; /* Adjust width as needed */
}

.fb-post {
  /* Styles for each post */
}


.three-column-section {
  display: flex;
  flex-wrap: wrap; /* Allow columns to wrap to the next line on smaller screens */
  justify-content: space-between;
  padding-bottom: 80px;
}

.full_width_section {
    display: flex;
    width :100%;
}


.column {
  width: 22%; /* Set width for each column */
  padding: 10px; /* Add padding for spacing */
}

.column1 {
  width: 10%; /* Set width for each column */
}

#bGmtze2JC2xiQgk7 {
  margin-top: 50px;
  margin-bottom: 50px;
}

#Lp6CSaVfhP2aGiIM {
  margin-bottom: 30px;
}

#q6UNbjHIbwco54j0 {
  margin-bottom: 40px;
}

#sdOefAzSMuiyyxju {
  margin-bottom: 30px;
}

#xnANHYQakoXfIDdG {
  margin-bottom: 100px;
}

#ZyAx2ghDSpGd7yoq-mobile {
  display: none;
}

#ZyAx2ghDSpGd7yoq {
  display: block;
}

#D1ImRoPa1OCkeN7e {
  margin-top:0px;
}

#daO44U9iDmrNK3jw {
  display:block;
}

#daO44U9iDmrNK3jwmobile {
  display:none;
}

#c0EX7l7zZPGP0uWm {
  max-width: 27px;
}

#V3jwsha2EukhcwJy {
  max-width: 17px;
  max-height: 6px;
  margin-left: -3px;
}

#esb8fhPKX2Ah7zNk {
  margin-top: -4px;
  margin-left: 10px;
}

#OWeOsstAFJisk0ov {
  max-width: 27px;
  max-height: 27px;
}

#yItPfgNAO8t8nCq7 {
  max-width: 17px;
  max-height: 7px;
  margin-top: 3px;
  margin-left: 8px;
}

#XeLllHxQu5NW9GpY {
  margin-top: 7px;
  margin-left: 10px;
}

#JnkWjzwL0HrR1Ana {
  margin-top: 5px;
}

#cghLLW5NPaWyA5zi {
  margin-left: 1px;
}

.language-button {
  display: none;
}

@media (max-width: 768px) { /* Adjust breakpoint as needed */
  .column {
    width: 100%; /* Make columns full width on mobile */
  }
  .image-container {
    display: block;
    width: 90%;
    margin-left: 5%;
  }

  .two-column-section {
    flex-direction: column; /* Change to column layout on mobile */
  }

  #xnANHYQakoXfIDdG {
    margin-bottom: -100px;
  }

  #m1oEWL7Vk64y8l6e {
    display: none;
  }

  #HAX40FqTKJNGmufK {
     display: none !important;
  }

  #dGEIbKAubUB72JI6 {
    max-height: 2200px;
  }

  #Ckv6e9jbhqoPgV21 {
    grid-area: 36 / 18 / 37 / 30;
    padding-top: 60px;
    max-width: 235px;
  }

  #mqFeH6igT1vYpjHo {
    max-width: 190px
  }

  #rh82EPdsJyummtRX {
    max-width: 235px;
  }

  #fxGNQ10te6SifRPi {
    width: 200px !important;
  }

  .facebook-feed-container {
    order: 2;
    width: 90%;
  }

  #ZyAx2ghDSpGd7yoq-mobile {
    display: block;
  }

  #ZyAx2ghDSpGd7yoq {
    display: none;
  }

  #D1ImRoPa1OCkeN7e {
    margin-top:230px;
  }

  #D1ImRoPa1OCkeN7e1 {
    margin-top: 170px;
    margin-left: 40px;
  }

  #LaNRKvDVjPkinxYJ {
    display: none;
  }

  #daO44U9iDmrNK3jw {
    display:none;
  }

  #daO44U9iDmrNK3jwmobile {
    display:block;
  }

  #AeR93NEnGxQnGdiz {
    min-height: 550px;
  }

  #ntoPG126GNUP1KEZ {
    display: none;
  }

  #Nxet0crvx36NMlmj {
    font-size: 22px;
  }

  #Y5WxJNFumMEB1zFC {
    min-height: 500px;
  }

  #LMNpA6IGqiPwpezj {
    max-height: 920px;
  }

  #QiJs09cIVfXkY3jc {
    grid-area: 10 / 6 / 9 / 10;
    margin-top: 25px;
    max-width: 275px;
  }

  #NpEP1XpFNbW2dveI {
    max-width: 275px;  
  }

  #A3vnZmgHlTlsoJdy {
    max-width: 275px;
  }

  #rDDqx5FLbFnWGuaj {
    margin-left: -40px;
  }

  #NkyA7VZWOwNHD6b1 {
    display:none;
  }

  #i6OlcERbnjaPoi20 {
    grid-area: 16 / 8 / 17 / 13;
  }

  #chsAlsfoLDOhwiEK {
    grid-area: 9 / 4 / 11 / 11;
  }

  #OWubpt8gJzPnZZ44 {
    display: none;
  }

  #bGmtze2JC2xiQgk7 {
    margin-top: -20px;
    margin-bottom: 30px;
  }

  #XeLllHxQu5NW9GpY {
    display: none;
  }

  #o2YByIW85G5IQljM {
    display: none !important;
  }

  #wFoCoEAZTaszTOJv {
    display: none !important;
  }

  #QA3JaqKYwDVOFwCu {
    display: none !important;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .language-button {
    background-color: #fdbf15;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px; /* Adjust spacing between buttons */
    text-transform: uppercase; 
  }
  
  .language-button:hover {
    color: #989898;
  }


}