.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
}

.menu-items {
  display: flex;
}

.menu-item {
  color: white;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
}

.menu-item:hover {
  background-color: #575757;
}

.burger-menu {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .menu-items {
      display: none;
      flex-direction: column;
      width: 100%;
  }

  .menu-item {
      width: 100%;
      text-align: left;
      padding: 10px 20px;
  }

  .burger-menu {
      display: block;
  }

  .menu-items.show {
      display: flex;
  }
}